/********/
/*Header*/
/********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px 50px 100px;
}
    nav {
        display: flex;
        width: 309px;
        justify-content: center;
    }

    .header__nav a {
      margin: 0;
      padding: 10px;
      color: #FF6060;
      }
    
    nav.header__nav {
      display: flex;
      font-size: 24px;
      margin: 30px 3% 15px 30px;
    }
    .header {
        justify-content: space-between;
        display: flex;
        margin: 0 4% 0 4%;
    }
    
   .header img {
        display: flex;
        width: 210px;
        height: 68px;
        margin: 3% 15px 15px 3%;
    }

/******/
/*Main*/
/******/
/*Body*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

body {
      background-color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
    }

/*Home*/
.home {
    max-width: 1920px;
    margin: 0 4% 4% 4%;
  }

/*LogementCard*/
    .Logementcard {
        width: 340px;
        height: 340px;
        border-radius: 10px;
        margin: 20px;
        display: flex;
        align-items: flex-end;
        background-size: cover;
      }
        h2 {
          color: white;
          margin-left: 20px;
          font-weight: 500;
          font-size: 18px;
        }

/*LogementList*/
.logements {
  width: 96%;
  margin: 0% 2% 0% 2%;
  }

.Logementlist {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding: 2% 5% 2% 5%;
  background: #F7F7F7;
  border-radius: 25px;
}
.logementLink {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0px;
}
a {
  text-decoration: none;
}

/*Logement Carrousel+Head+Body*/
.Logement {
    max-width: 1920px;
    margin: 0 4% 4% 4%;
}

/*Carrousel*/
.carousel {
  position: relative;
}
  .carouselContent {
    overflow: hidden;
    border-radius: 10px;
    margin: 0;
  }
      .carouselContent--img {
        display: flex;
        width: 100%;
        max-height: 500px;
        transition: all 250ms linear;     
          max-height: 270px;
      }
      .carouselContentCount {
        position: absolute;
        z-index: 1;
        top: 88%;
        left: 50%;
        font-size: 20px;
        color: white;
        font-weight: 600;
          display: none;
      }
    
    .carousel__leftarrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      height: 80px;
      left: 24px;
        height: 20px;
        left: 10px;
    }
    .carousel__rightarrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      height: 80px;
      right: 24px;
        height: 20px;
        right: 10px;
      }

/*LogementHead*/
.Logement__head {
    display: flex;
    justify-content: space-between;
}
.Logement__head--info h1 {
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    margin: 10px;
}
.Logement__head--info h2 {
    color: #FF6060;
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
}
.tag{
    background: #FF6060;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    height: 25px;
    padding: 0 15px 0 15px;
    line-height: 25px;
    display: inline-block;
    margin: 5px;
}
/*Profile Name+Picture*/
.Logement__head--host {
    display: block;
}
.host {
    display: flex;
    width: 200px;
    align-items: center;
}
.host p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 25px 5px 25px 10px;
}
.host img {
    border-radius: 90%;
    width: 64px;
    height: 64px;
    margin: 25px;
}

/*Ratings*/
.star {
    margin-top: 0px;
    display: flex;
  }
  
  .off {
    fill: #e3e3e3;
    margin: 3px;
      width: 22px;
      margin: 1px;
  
  }
  .on {
    fill: #FF6060;
    margin: 3px;
      width: 22px;
      margin: 1px;
    }

/*Tags*/
.tag {
    background: #FF6060;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    height: 25px;
    padding: 0 15px 0 15px;
    line-height: 25px;
    display: inline-block;
    margin: 5px;
  }

/*Logement Description & Equipements*/
.logementBody {
    display: flex;
}

/************/
/*Page About*/
/************/
/*introImg*/
.introImg {
  width: 96%;
  height: 223px;
  margin: 2% auto 2% auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  }

  .introImg h1 {
    color: white;
    font-weight: 500;
    font-size: 48px;
    margin: 0px 25px 0px 25px;
  }

/*aboutBody*/
.aboutBody {
  margin: 0 4% 4% 4%;
}

/*Collapse*/
  .collapse {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      width: 100%;
  }
  .aboutBody .collapse .collapseTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1023px;
    background-color: #FF6060;
    color: #ffffff;
    border-radius: 5px;
    height: 47px;
    padding: 0px 15px 0px 15px;
    width: 85%;
    margin: 25px 25px 0px 25px;
  }
  .logementBody .collapse .collapseTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1023px;
    background-color: #FF6060;
    color: #ffffff;
    border-radius: 5px;
    height: 47px;
    padding: 0px 15px 0px 15px;
    width: 92%;
    margin: 2% 2% 0px 2%;
  }
  .collapseContent {
    background-color: #f7f7f7;
    max-width: 1023px;
    font-weight: 400;
    color: #FF6060;
    border-radius: 5px;
    width: 92%;
    padding: 0 15px 0 15px;
  }
  .collapse ul {
    list-style: none;
    padding: 5px;
  }

/*Carrousel*/
  .carouselContent--img > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
  }
  
  .carouselNone {
    display: none;
  }

/********/
/*Footer*/
/********/
.footer {
    background-color: #000000;
    color: white;
    font-size: 24px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 50px;
    margin-top: auto;
  }
     .footer p{
      font-size: 12px;
      padding: 50px;
     }
/***********/
/*ErrorPage*/
/***********/
.error {
    text-align: center;
    font-size: 36px;
}
.error404 h1 {
  color: #FF6060;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 520%;
  margin: 3% auto 2% auto;
}
.errorDescription {      
  font-weight: 700;
  font-size: 28px;
  margin-top: 0%;
  color: #FF6060;
}
.errorLink {
  display: block;
  font-size: 18px;
  left: 40.14%;
  right: 40.14%;
  top: 81.93%;
  bottom: 15.53%;
  color: #FF6060;
  margin-top: 145px;
}